site_name: Linux Distribution Factory
site_url: https://ldf.bitswalk.com
copyright: Copyright &copy; 2025-2026 - Bitswalk, inc.

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Architecture: architecture.md
  - Configuration: configuration.md
  - Deployment: deployment.md
  - Sources: sources.md
  - Blog:
      - blog/index.md

theme:
  name: material
  features:
    - announce.dismiss
    - navigation.footer
    # - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    - toc.integrate

plugins:
  - blog
  - search
  - social
  - tags

extra:
  generator: true
