@import "tailwindcss";
@import "./themes/default/theme.css";

@layer base {
    * {
        border-color: hsl(var(--border));
    }
    html,
    body,
    #root {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
        font-family: var(--font-mono);
    }
    i.icon-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
    }
    i.icon-container > svg {
        width: 100%;
        height: 100%;
        display: block;
        flex-shrink: 0;
    }
}
